:root {
  --violet: #DB66DF;
  --softViolet: #E98CEC;
  --base: #FFC4DB;
  --background: #eee;
  --pink: #EA739F;
  --softPink: #E886AA;
  --softBlue: #BDE0FE;
  --blue: #7DBDF9;
  --white: #ffffff;

  --success: #62dd65;
  --failure: #bb2f2f;

  --BigTitle: 32px;
  --title: 25px;
  --font: 20px;
}

body {
  color: var(--white);
  margin: 0;
}

.displayFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.directionColumn {
  flex-direction: column;
}

.directionRow {
  flex-direction: row;
}

input:focus{
  outline: none;
}