:root {
  --violet: #9C4CCA;
  --softViolet: #CC4BD0;
  --base: #FFC4DB;
  --background: #e9dbe0;
  --pink: #EA739F;
  --softPink: #E886AA;
  --softBlue: #BDE0FE;
  --blue: #A2D2FF;
  --white: #ffffff;

  --good: #00ff04;
  --bad: #dc2323;

  --BigTitle: 32px;
  --title: 25px;
  --font: 20px;
}

body {
  background-color: var(--softPink);
  color: var(--white);
  height: 100vh;
  margin: 0;
}

.displayFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.directionColumn {
  flex-direction: column;
}

.directionRow {
  flex-direction: row;
}