.content{
  padding: 1%;
}

.text-rainbow {
    background: #CA4246;
    background-color: #CA4246;
    background: conic-gradient(#CA4246 16.666%,
            #E16541 16.666%,
            #E16541 33.333%,
            #F18F43 33.333%,
            #F18F43 50%,
            #8B9862 50%,
            #8B9862 66.666%,
            #476098 66.666%,
            #476098 83.333%,
            #A7489B 83.333%);

    background-size: 57%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.middle{
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    position: absolute;
    top: 0;
    z-index: 9999999999999999999999;
}

.middle > .rounded{
    opacity: 0;
    border-radius: 50%;
    border: 2px solid #a2d2ff;
    width: 500px;
    height: 500px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

}

.middle > .rounded > .middleLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.middle > .rounded > .middleLogo > p{
    font-size: 160px;
    color: #a2d2ff;
    margin: 0;
    font-family: 'Bree Serif', serif;
    line-height: 1;
    opacity: 0;
}

.middle > .rounded > .middleLogo > svg{
    width: 90%;
    opacity: 0;
}

.row{
    width: 100%;
}

.row > * {
    border-radius: 50px;
    background-color: var(--blue);
    padding: 2%;
    text-align: center;
    font-size: 25px;
    width: 40%;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.row > .TopLeftIndex{

}

.row > .TopRightIndex{

}

.row > .BottomLeftIndex{

}

.row > .BottomRightIndex{

}

.colorsDiv > div{
    color: var(--white);
    padding: 2%;
    text-align: center;
    font-size: 25px;
    flex-grow: 1;
}

.colorsDiv > div:nth-child(1){
    background-color: var(--violet);
}

.colorsDiv > div:nth-child(2){
    background-color: var(--softViolet);
}

.colorsDiv > div:nth-child(3){
    background-color: var(--base);
}

.colorsDiv > div:nth-child(4){
    background-color: var(--softPink);
}

.colorsDiv > div:nth-child(5){
    background-color: var(--pink);
}

.colorsDiv > div:nth-child(6){
    background-color: var(--softBlue);
}

.colorsDiv > div:nth-child(7){
    background-color: var(--blue);
}

.colorsDiv > div:nth-child(8){
    background-color: var(--success);
}

.colorsDiv > div:nth-child(9){
    background-color: var(--failure);
}