.content{
  padding: 1%;
  background-color: var(--softPink);
}

.text-rainbow {
    background: #CA4246;
    background-color: #CA4246;
    background: conic-gradient(#CA4246 16.666%,
            #E16541 16.666%,
            #E16541 33.333%,
            #F18F43 33.333%,
            #F18F43 50%,
            #8B9862 50%,
            #8B9862 66.666%,
            #476098 66.666%,
            #476098 83.333%,
            #A7489B 83.333%);

    background-size: 57%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
.row{
    width: 100%;
}

.row > * {
    border-radius: 50px;
    border: 5px solid transparent;
    padding: 0.3%;
    text-align: center;
    font-size: 25px;
    width: 40%;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    pointer-events: none;
}

.row > div:hover{
    border-color: var(--white);
}

.row > div > * {
    pointer-events: auto;
    width: 100%;
    height: 100%;
    background-color: var(--pink);
    border-radius: 40px;
}

.colorsDiv > div{
    color: var(--white);
    padding: 2%;
    text-align: center;
    font-size: 25px;
    flex-grow: 1;
}

.colorsDiv > div:nth-child(1){
    background-color: var(--violet);
}

.colorsDiv > div:nth-child(2){
    background-color: var(--softViolet);
}

.colorsDiv > div:nth-child(3){
    background-color: var(--base);
}

.colorsDiv > div:nth-child(4){
    background-color: var(--softPink);
}

.colorsDiv > div:nth-child(5){
    background-color: var(--pink);
}

.colorsDiv > div:nth-child(6){
    background-color: var(--softBlue);
}

.colorsDiv > div:nth-child(7){
    background-color: var(--blue);
}

.colorsDiv > div:nth-child(8){
    background-color: var(--green);
}

.colorsDiv > div:nth-child(9){
    background-color: var(--red);
}

@media screen and (max-width: 500px) {
    .colorsDiv > div {
        font-size: 2vw;
    }
}